<%= form_for(@hobby) do |f| %>
  <% if @hobby.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hobby.errors.count, "error") %> Произошла ошибка, должностей не записана:</h2>

      <ul>
      <% @hobby.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Название_хобби %><br>
    <%= f.text_field :h_name %>
  </div>
  <div class="field">
    <%= f.label :Статус %><br>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :Удаление %><br>
    <%= f.check_box :s_delete %>
  </div>
  <div class="actions">
    <%= f.submit "Добавить хобби" %>
  </div>
<% end %>
