<%= form_for(@hobby_sotr) do |f| %>
  <% if @hobby_sotr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hobby_sotr.errors.count, "error") %> Произошла ошибка, должностей не записана:</h2>

      <ul>
      <% @hobby_sotr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_Сотрудника %><br>
    <%= f.collection_select(:sotr_id, Sotr.all, :id, :id) %>
  </div>
  <div class="field">
    <%= f.label :Название_хобби %><br>
    <%= f.collection_select(:hobby_id, Hobby.all, :id, :h_name) %>
  </div>
  <div class="field">
    <%= f.label :Статус %><br>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :Удаление %><br>
    <%= f.check_box :s_delete %>
  </div>
  <div class="actions">
    <%= f.submit "Добавить"%>
  </div>
<% end %>
