<p id="notice"><%= notice %></p>

<p>
  <strong>Sotr:</strong>
  <%= @hobby_sotr.sotr.id %>
</p>

<p>
  <strong>Hobby:</strong>
  <%= @hobby_sotr.hobby.h_name %>
</p>

<%= link_to 'Edit', edit_hobby_sotr_path(@hobby_sotr) %> |
<%= link_to 'Back', hobby_sotrs_path %>
