<p id="notice"><%= notice %></p>

<p>
  <strong>Сотрудник:</strong>
  <%= @hobby_sotr.sotr.id %>
</p>

<p>
  <strong>Хобби:</strong>
  <%= @hobby_sotr.hobby.h_name %>
</p>

<%= link_to 'Изменить', edit_hobby_sotr_path(@hobby_sotr) %> |
<%= link_to 'Назад', hobby_sotrs_path %>
