<p id="notice"><%= notice %></p>

<p>
  <strong>Фамилия:</strong>
  <%= @sotr.s_fam %>
</p>

<p>
  <strong>Имя:</strong>
  <%= @sotr.s_name %>
</p>

<p>
  <strong>Отчество:</strong>
  <%= @sotr.s_otch %>
</p>

<p>
  <strong>Дата рождения:</strong>
  <%= @sotr.s_date %>
</p>

<p>
  <strong>Должность:</strong>
  <%= @sotr.dlzh.d_name %>
</p>

<p>
  <strong>Фотография:</strong>
  <%= @sotr.s_photo %>
</p>

<%= link_to 'Изменить', edit_sotr_path(@sotr) %> |
<%= link_to 'Назад', sotrs_path %>
